/*
Color estetoscopio: #ED7FAD
Color verde diarrea texto: #679C48
Color verde bebé menmta moco: #C6FAC9

MODO OSCURO
Azul osquere: #192837
Azul no tan osquere:#4e7dac

Ergotech
Celeste: #2882D6
*/

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    /* transition: .4s; */
}

.color-verde-menta {
    color: #C6FAC9;
}

.color-rosa-esteto {
    color: #ED7FAD;
}

.color-verde-texto {
    color: #679C48;
}

/* Menú navegacion */
header {
    transition: .4s;
    position: fixed;
    background-color: #679C48;
    height: 100px;
    width: 100vw;
    padding: 0 20px;
    top: 0;
    z-index: 100;
    box-shadow: 0px 1px 5px #fff;
}

.logo {
    height: 80px;
    padding-top: 9px;
    cursor: pointer;
    transition: .4s;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul {
    padding-right: 50px;
}

.menu ul li {
    display: inline-block;
    padding-top: 10px;
}

.logo:hover {
    transform: scale(1.1);
    transition: .4s;
}

.menu ul li a:hover {
    background-color: #C9FAC9;
    /* #ffffffb7; */
    border-radius: 5px;
    color: #679C48;
    transition: .4s;
    font-weight: 900;

}


.menu ul li a {
    padding: 30px 20px;
    color: #fff;
    font-weight: 150;
    transition: .4s;
    border-radius: 5px;
}

/* Banner */
.banner {
    /* background-image: url(img/bannerPlaceholder.jpg); */
    height: 70vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}

/* Section Informacion */

.informacion {
    transition: 0.4s;
    background-color: #679C48;
    text-align: center;
    color: #fff;
}

.informacion h2 {
    padding: 15px;
}

.informacion p {
    padding-bottom: 10px;
    width: 600px;
    margin: auto;
}

/* Aliados */

.aliados {
    transition: .4s;
    background-color: #fff;
    text-align: center;
}

.aliados h1 {
    transition: .4s;
    color: #679C48;
    padding: 20px 0px;
}


.aliado {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
    grid-template-columns: repeat(1, minmax(350px, 1fr));
    justify-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.imgAliado {
    /* width: 250px; */
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 5px;
    border: 1px solid #edbcd0;
    box-shadow: 5px 10px #ED7FAD, 4.8px 9.8px #2882D6;
    transition: .4s;
}

.imgAliado:hover {
    transform: translate(-10px, -5px);
    border: 1px solid #2882D6;
    box-shadow: 5px 10px #62bbe2, 15px 20px #2882D6;
    transition: .4s;
}



.aliados:has(.imgAliado:hover) {
    transition: .4s;
    /* background: linear-gradient(to bottom right, #9bdefb 60%, #62bbe2); */
    background-color: #636363;
}

.aliados:has(.imgAliado:hover) h1 {
    transition: .4s;
    color: #28A5DB;
}


.aliados:has(.imgAliado:hover)~.nombre-empresa h2 {
    color: #636363;
}

.aliados:has(.imgAliado:hover)~.contenedor-layouts {
    transition: .4s;
    background-color: #28A5DB;
}

.aliados:has(.imgAliado:hover)~.contenedor-layouts .layout1 .fondo-layout1,
.aliados:has(.imgAliado:hover)~.contenedor-layouts .layout2 .fondo-layout2 {
    transition: .4s;
    background-image: linear-gradient(to top, #ED7FAD 0%, #28A5DB 100%);

}

.aliados:has(.imgAliado:hover)~.contenedor-layouts .layout1 .articulo-layout1,
.aliados:has(.imgAliado:hover)~.contenedor-layouts .layout2 .articulo-layout2 {
    transition: .4s;
    background-color: #c9defa;
}

.aliados:has(.imgAliado:hover)~footer {
    transition: .4s;
    background-color: #28A5DB;
}

.informacion:has(~.aliados .imgAliado:hover) {
    transition: 0.4s;
    background-color: #28A5DB;
}

header:has(~.aliados .imgAliado:hover) {
    transition: 0.4s;
    background-color: #28A5DB;
}

/* Nombre Empresa */
.nombre-empresa {
    text-align: center;
    text-transform: capitalize;
    margin: 45px 0px;
}

.nombre-empresa h2 {
    color: #679C48;
}


/*Layouts*/
.contenedor-layouts {
    transition: 0.4s;
    border-radius: 10px;
    background-color: #C9FAC9;
    margin: 0px 100px 100px 100px;
    display: inline-block;
}

.layout1 {
    /* margin-right: 500px; */
    margin-top: 0;
    margin-bottom: 0;
    width: 900px;
    height: 500px;
    padding: 50px;
    float: left;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.img-layout1 {
    width: 100%;
    height: 100%;
    object-fit: none;
    border-radius: 10px;

    grid-column: 1/5;
    grid-row: 1/5;
}

.fondo-layout1 {
    transition: 0.4s;
    background-image: linear-gradient(to top, #ED7FAD 0%, #679C48 100%);
    border-radius: 10px;
    box-shadow: 0 0 30px -8px black;

    grid-column: 2/6;
    grid-row: 2/7;
}

.articulo-layout1 {
    transition: 0.4s;

    background-color: #C9FAC9;
    padding: 2.5rem;
    box-shadow: 0 0 30px -8px black;
    border-radius: 10px;

    grid-column: 4/9;
    grid-row: 3/6;
}

.titulo-layout1 {
    font-size: 24px;
    margin-bottom: 16px;
}

.parrafo-layout1 {
    line-height: 1.5;
}

.layout2 {
    /* margin-left: 400px; */
    float: right;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    width: 900px;
    height: 500px;
    padding: 50px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.img-layout2 {
    width: 100%;
    height: 100%;
    object-fit: none;
    border-radius: 10px;

    grid-column: 5/9;
    grid-row: 1/5;
}

.fondo-layout2 {
    transition: .4s;
    background-image: linear-gradient(to top, #ED7FAD 0%, #679C48 100%);
    border-radius: 10px;
    box-shadow: 0 0 30px -8px black;

    grid-column: 4/8;
    grid-row: 2/7;
}

.articulo-layout2 {
    transition: .4s;
    background-color: #C9FAC9;
    padding: 2.5rem;
    box-shadow: 0 0 30px -8px black;
    border-radius: 10px;

    grid-column: 1/6;
    grid-row: 3/6;
}

.titulo-layout2 {
    font-size: 25px;
    margin-bottom: 16px;
}

.parrafo-layout2 {
    line-height: 1.5;
}

/* Footer */
.linea-vertical {
    border-left: 1px solid #fff;
    height: auto;
    margin-left: 100px;
    margin: 50px 0;
}

/* Contacto */
footer {
    background-color: #679C48;
    width: 100%;
    height: auto;
    transition: .4s;
}

.info-footer {
    display: flex;
    gap: 200px;
    margin-left: 110px;
}

.menu-footer {
    width: 200px;
    margin-left: -10px;
    margin-top: 20px;
}

.menu-footer a {
    display: block;
    color: #fff;
}

.menu-footer p {
    display: inline-block;
}

.contacto {
    height: auto;
    width: 300px;
    padding-top: 20px;
    margin-left: 150px;
    padding-bottom: 20px;
}

.contacto p {
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    transition: .4s;

}

.opcion-menu {
    width: max-content;
    margin-top: 50px;
}

.opcion-menu p {
    transition: .4s;
    border-radius: 5px;
    padding: 5px;
}

.info-contacto {
    display: flex;
    margin: 20px;
    align-items: center;
    width: max-content;
}

.redes {
    margin: auto;
    width: max-content;
    padding-bottom: 30px;
}

.fa-solid {
    color: #ffffff;
    font-size: 25px;
    margin-right: 10px;
    transition: .4s;
}

.info-contacto:hover {

    transition: .4s;

    p {
        background-color: #C9FAC9;
        border-radius: 5px;
        color: #679C48;
        font-size: 20px;
        transition: .4s;
        font-weight: 900;
    }

    .fa-solid {
        font-size: 30px;
        transition: .4s;
    }
}

.opcion-menu:hover {

    transition: .4s;

    p {
        background-color: #C9FAC9;
        border-radius: 5px;
        color: #679C48;
        font-size: 20px;
        transition: .4s;
        font-weight: 900;
    }

    .fa-solid {
        font-size: 30px;
        transition: .4s;
    }
}

.fa-facebook:hover {
    color: #1877f2;
    font-size: 30px;
    transition: .4s;
}

/* Nuestro Contacto */
.desarrollo {
    user-select: none;
    background-color: #C9FAC9;
    height: 30px;
}

.cerrar-contacto-desarrolladores {
    position: absolute;
    margin: auto;
    cursor: pointer;
    right: 5px;
}

#check {
    display: none;
}

.contacto-desarrollador {
    display: block;
}

.nombre-desarrolladores {
    margin-left: 500px;
    cursor: pointer;
}

.nombre {
    font-weight: bold;
    color: #679C48;
    text-decoration: underline;
}

.info-desarrolladores {
    transform: translate(-350px, -155px);
    transition: .4s;
    background-color: #fff;
    width: 250px;
    height: 100px;
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 70px;
    position: relative;
}

.info-desarrollador {
    display: inline-block;
    margin: auto;
    transition: .4s;
}

.info-desarrollador p {
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
    transition: .4s;
}

.info-desarrollador .fa-brands {
    margin: 0 40%;
}

.info-desarrollador:hover {
    .fa-whatsapp {
        transform: translate(0, -8px);
    }

    p {
        color: #679C48;
        background-color: #C9FAC9;
        border-radius: 5px;
        transition: .4s;
    }
}

.info-desarrollador .fa-whatsapp {
    color: #679C48;
}

/* ~ */
#check:checked~.info-desarrolladores {
    transition: .4s;
    /* transform: translate(-1px, -145px); */
    transform: translate(156px, -155px);
}


/* Pagina Servicios */

/* info-servicios */
.servicios {
    width: 70%;
    margin: 80px auto;
}


.servicios-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.informacion-servicios {
    background-color: #C6FAC9;
    padding: 0 10px;
    color: #679C48;
}

.servicios h1 {
    text-align: center;
    color: #679C48;
    padding: 10px 0;
}

.servicios p {
    color: black;
    text-align: justify;
    padding: 20px;
}

.contenedor-servicios {
    width: 70%;
    margin: 80px auto 80px auto;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#info-servicios {
    background-color: #C6FAC9;
    margin: 10px auto 0px auto;
    height: 250px;
    width: 45%;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.info-servicio-izquierda {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    box-shadow: 1px 1px 5px #000;
    transform: translate(25px, 5px);


    grid-column: 3/10;
    grid-row: 4/10;
}

.info-servicio-derecha {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    box-shadow: 1px 1px 5px #000;
    transform: translate(-25px, 5px);


    grid-column: 2/9;
    grid-row: 4/10;
}

.info-servicio p {
    margin: auto;
}

.servicio-superior-izquierda {
    border-radius: 30px 0px 30px 0px;
}

.servicio-superior-derecha {
    border-radius: 0px 30px 0px 30px;
}

.servicio-centro-izquierda {
    border-radius: 0px 30px 30px 0px;
}

.servicio-centro-derecha {
    border-radius: 30px 0px 0px 30px;
}

.servicio-inferior-izquierda {
    border-radius: 0px 30px 0px 30px;
}

.servicio-inferior-derecha {
    border-radius: 30px 0px 30px 0px;
}