/* Header */
header {
  position: fixed;
  top: 0;
  width: 100dvw;
  height: 80px;
  background-color: var(--gris-pizarra);
  box-shadow: 0px 1px 5px #fff;
  z-index: 100;
}

/* Contenedor flexible */
.header-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* Logo */
.logo {
  height: 60px;
  transition: 0.4s;
  cursor: pointer;
}

.logo-link {
  color: #fff;
}
.logo:hover {
  transform: scale(1.1);
}

/* Menu */
.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin-left: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.4s;
  font-weight: 500;
}

.menu ul li a:hover {
  background-color: var(--hover-blanco);
  color: var(--gris-pizarra);
}
