header {
    position: fixed;
    top: 0;
    width: 100dvw;
    height: 80px;
    background-color: var(--gris-pizarra);
    box-shadow: 0px 1px 5px #fff;
    z-index: 100;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    height: 60px;
    transition: 0.4s;
    cursor: pointer;
}

.logo-link {
    color: #fff;
}

.logo:hover {
    transform: scale(1.1);
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin-left: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.4s;
    font-weight: 500;
}

.menu ul li a:hover {
    background-color: var(--hover-blanco);
    color: var(--gris-pizarra);
}

@media (max-width: 1024px) {
    .header-container {
        padding: 0 15px;
    }
    .menu ul li {
        margin-left: 15px;
    }
}

@media (max-width: 768px) {
    .menu ul {
        display: none;
        flex-direction: column;
        background-color: var(--gris-pizarra);
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }
    .menu.active ul {
        display: flex;
    }
    .menu ul li {
        margin: 10px 0;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 1.8rem;
    }
}

@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }
}
