.contenedor-layouts {
  display: flex;
  flex-direction: column; /* Layouts en columna */
  gap: 40px;
  margin: 50px auto;
  max-width: 900px;
}

/* Layout base */
.layout {
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.4s;
}

/* Imagen y fondo comunes */
.layout .imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.layout .fondo {
  border-radius: 10px;
  box-shadow: 0 0 20px -5px var(--gris-pizarra);
  transition: 0.4s;
}

.layout .articulo {
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 20px -5px var(--gris-pizarra);
  background-color: var(--beige-suave);
  grid-column: 4/8;
  grid-row: 4/7;
}

/* Layout izquierdo */
.layout-izquierdo .fondo {
  grid-column: 2/7;
  grid-row: 2/8;
  background: linear-gradient(to top, var(--cobre) 0%, var(--arena-clara) 100%);
}

.layout-izquierdo .imagen {
  grid-column: 1/5;
  grid-row: 1/6;
}

/* Layout derecho */
.layout-derecho .fondo {
  grid-column: 2/7;
  grid-row: 2/8;
  background: linear-gradient(
    to top,
    var(--marron-arena) 0%,
    var(--cobre-oscuro) 100%
  );
}

.layout-derecho .imagen {
  grid-column: 5/9;
  grid-row: 1/6;
}

/* Títulos y párrafos */
.titulo {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--cobre-oscuro);
}

.parrafo {
  line-height: 1.4;
  color: var(--gris-pizarra);
  font-size: 0.95rem;
}
