:root {
  /* Base cobre */
  --fondo-azul-marino-profundo: #0a192f;
  --resaltado-verde-neon: #2ecc71;
  --cobre: #b87333;
  --cobre-oscuro: #8c4a1c;
  --gris-pizarra: #2e2e2e;
  --crema-tenue: #f5f2ee;

  /* Tonos arena */
  --arena-clara: #f4e1c1;
  --beige-suave: #e6d2b5;
  --marron-arena: #c1a57b;
  --marron-oscuro: #5c4b32;
  --gris-calido: #8e8268;

  /* Hovers */
  --hover-blanco: rgba(255, 255, 255, 0.6);
}

body {
  background: var(--arena-clara);
  color: var(--crema-tenue);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.contact-section{
    width: 97.6%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 50px 20px;

    background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url('https://images.unsplash.com/photo-1511512578047-dfb367046420?q=80&w=2071&auto=format&fit=crop');
    
    background-size: cover;
    background-position: center;
}

.contact-container{
    width: 100%;
    max-width: 700px;

    background: var(--resaltado-verde-neon);

    padding: 40px;

    border-radius: 12px;

    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.contact-container h1{
    text-align: center;
    margin-bottom: 15px;

    color: white;
    font-size: 36px;
}

.contact-container p{
    text-align: center;
    margin-bottom: 30px;

    color: white;
}

.input-group{
    margin-bottom: 20px;
}

.input-group label{
    display: block;
    margin-bottom: 8px;

    font-weight: bold;
    color: white;
}

.input-group input,
.input-group textarea{
    width: 95%;
    padding: 14px;

    border: 1px solid #ccc;
    border-radius: 8px;

    outline: none;

    transition: 0.3s;
}

.input-group input:focus,
.input-group textarea:focus{
    border-color: #d90429;
}

button{
    width: 100%;
    padding: 15px;

    border: none;
    border-radius: 8px;

    background: var(--fondo-azul-marino-profundo);
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

button:hover{
    background: #112a50;
}

#respuesta{
    margin-top: 20px;
    font-weight: bold;
}

/* WhatsApp Business */

.whatsapp-float{
    position: fixed;

    width: 65px;
    height: 65px;

    bottom: 25px;
    right: 25px;

    background: #f4f4f4;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 5px 15px rgba(0,0,0,0.3);

    z-index: 1000;

    transition: 0.3s;
}

.whatsapp-float:hover{
    transform: scale(1.1);
}

.whatsapp-float img{
    width: 38px;
}